<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title>Document</title>
</head>

<body>
    <div id="page-wrapper">

        <div id="nav-wrapper">
            <div id="nav-logo" class="nav-container">
                <div class="nav-logo">
                    <a href="/"><img class="logo" src="/assets/global/cat1.png"></a>
                </div>
                <h1 class="logo-text">the neighborhood cat</h1>
            </div>
            <div class="nav-container">
                <ul class="nav-list">
                    <li class="nav-list-item">
                        <a class="nav-href" href="/gallery">Flash</a>
                    </li>
                    <li class="nav-list-item">
                        <a class="nav-href" href="#">Booking</a>
                    </li>
                    <li class="nav-list-item">
                        <a class="nav-href" href="/shop">Shop</a>
                    </li>
                    <li class="nav-list-item">
                        <a class="nav-href nav-active" href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>

        

        <div id="content-wrapper">
            <div id="hero" class="content-container">
                <h1>we can add your social media links, email, any documents you want added, etc</h1>
                <h2>maybe an embedded google map with the address of ur main studio</h2>
            </div>
            <div class="content-container">
                <h2>maybe add info on your waitlist/booking for when you guest in different cities</h2>
                <h2>whatever you want :3 we can even make a blog or something lol</h2>
            </div>
        </div>

        <div id="footer-wrapper">

        </div>

    </div>
</body>

</html>